body {
  background-image: url("https://t4.ftcdn.net/jpg/03/47/98/99/360_F_347989974_FG92ZrYK3MWrHglouEEbK7LSmCMqlMYr.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: #ececf9;
  font-family: 'Audiowide', monospace;
  text-shadow: 2px 2px 5px black, 0 0 25px blue, 0 0 50px darkblue;
}

.content {
  padding: 12px 12px;
  width: 98.5%;
  height: 100%;
  color: #00ffff;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

iframe {
  border-style: double;
  border-width: thick;
  border-color: white;
}

.sketch {
  margin-bottom: 50px;
}

.sketch5 {
  grid-area: 3 / 1 / span 1 / span 2;
}

a {
  text-decoration: none;
}

a strong:hover {
  color: white;
  font-size: 50px;
}

strong {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 2px deeppink, 0px 0px 15px purple, 0px 0px 40px magenta;
  text-align: left;
  font-family: 'Syne Mono';
}
